.sidenav-container {
  background-color: #3e464e;
  margin-top: -25px;
  padding-top: 15px;
}

/* Sidebar link styling */
.side-navbar > li > a {
  color: rgba(255,255,255,.5);
}

/* Sidebar link - hover styles */
.side-navbar > li > a:hover {
  color: rgba(255,255,255,.7);
}

/* Sidebar link - currentlty selected page styles */
.side-navbar > li > a.active {
  color: rgba(255,255,255,.9);
}
