.sublabel{
    font-size: 22px;
    font-weight: 600;
    margin-top: 20px;
}

.subtext{
    margin-top: 10px;
    margin-bottom: 10px;
}

.example{
  margin-top: 20px;
  margin-bottom: 40px;
  margin-right: 75px;
}

code {
  background: #F0F0F0;
  padding: 5px;
}